@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', Verdana, Tahoma, sans-serif;
}


:root{
    --orange: rgb(255, 142, 49);
    --azul: #1c74b8d5;
}

#linha{
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    margin-top: 20px;
    display: none;
}

.flut{
    position: fixed;
    bottom: 20px;
    right: 10px;
    transition: 1s;
    display: flex;
    align-items: end;
}

.flut img:hover{
    width: 130px;
    
    
}

.flut img{
    width: 100px;
}

.flexcolumn{
    flex-direction: column;
}

.flex{
    display: flex;
}
header{
    min-width: 100%;
    height: 180px;
    background-image: radial-gradient( rgba(255, 136, 0, 0.712), rgb(184, 3, 3));
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}

.preench{
    display: flex;
    width: 200px;
    height: auto;
    flex: 1;
    
    margin: 20px;
}

.logo{
    display: flex;
    flex: 5;
    justify-content: center;
    margin-left: 30px;
}

.logo img{
    width: 400px;
}
.container-contato{
    display: block;
    margin-right: 30px ;
    
}
.contato{
    flex: 1;
    text-align: right;
    color: white;
    font-size: 15px;
    margin: 10px 10px 10px 30px;
}
.midias{
    
    flex:1;
    display: flex;
    justify-content: end;
    margin: 5px;
    
}
.midias div{
    margin-left: 20px;
}
.midias img{
    width: 40px;
    object-fit: contain;
}

nav{
    width: 100%;
    height: auto;
    background-color: #1c74b8d5;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.linkmenu{
    text-decoration: none;
}

.menu{
    padding: 10px 30px 10px 30px;
    transition: 0.5s;
    font-weight: bold;
    color: white;
}

.menu:hover{
    background-color: rgba(255, 255, 255, 0.637);
    color: #1c74b8d5;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    background-color: white;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

.inicial{
    background-color:var(--orange) ;
    min-width: 80%;
    height: auto;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.reserv{
    width: 100%;
    height: auto;
    background-color: var(--azul);
    text-align: center;
}

.pro .reserv h1{
    margin: 0px;
    color: white;
    padding: 10px;
}

#titleinicial h1{
    font-size: 25px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
   color: white;
   text-align: center;
}

.inicial div{
    width: 100%;
    height: auto;
    text-align: center;
}

.inicial h2{
    font-size: 20px;
    
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
}

.pro{
    min-width: 60% ;
    border-left: 3px solid var(--azul);
    border-right: 3px solid var(--azul); 
}
.pro h1{
    text-align: center;
    margin-top: 30px;
    color: var(--orange);
}


.prod{
    display: flex;
    max-width: calc(100% - 50px);
    min-width: 320px;
    height: auto;
    border: 2px solid rgb(255, 115, 0);
    overflow: hidden;
    margin:30px auto 10px auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.img1 {
    margin: -5px;
    flex: 1;
}

.img2 {
    margin: -5px;
    flex: 1;
}

.img1 img{
    width: 270px;
    height: 200px;
    border-right: 2px solid white;
    margin: 0px;
}

.img2 img{
    width: 270px;
    height: 200px;
    border-right: 2px solid white;
    margin: 0px;
}



.descr {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin: 5px auto 5px  auto;
    
    
}
.tt{
    width: calc(100% - 20px);
    margin: 5px auto 10px auto;
    font-weight: bold;
    display: block;
    font-size: 12px;
    line-height: 25px;
    border-bottom: 1px solid var(--azul);

}

.tt h1{
    margin: 0px auto 5px auto;
}

.dscd{
    width: calc(100% - 20px);
    text-align: center;
    justify-content: center;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    color: gray;
    margin-left: auto;
    
    
}

.pag{
    background-color: var(--azul);
    display: grid;
    margin-top: 20px;
    justify-content: space-around;
    grid-template-areas: 
        "it1 it1 it1 it1 "
        "it2 it3 it4 it5"
    ;
   padding-bottom: 30px;
}
.pag img{
    width: 60px;

}

.pag .title{
    grid-area: it1; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    
    margin: auto;
    padding: 0px;
}

.pag .title h1{
    color: white;
    padding: 0px;
    font-size: 30px;
}
.mastec{
    grid-area: it2;
    
    display: flex;
    justify-content: center ;
    align-items: center;
}

.visa{
    grid-area: it3;
    
    display: flex;
    justify-content: center ;
    align-items: center;
}

.pix{
    grid-area: it4;
    
    display: flex;
    justify-content: center ;
    align-items: center;
    
}

.pix img{
    width: 75px;
}

.din{
    grid-area: it5;
    
    display: flex;
    justify-content: center ;
    align-items: center;
}


.entrega{
    background-color: var(--orange);
    min-width: 60%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    
}

.title{
    margin-top: 20px;
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.title h2{
    text-align: center;
    color: white;
}

.tamb{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: start;
}

.tamb img{
    padding: 0px;
    margin-top: -30px;
}



#taxa p{
    color: white;
}

#somos{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pro #somos h1{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

#somos .txt{
    max-width: 60vmax;
    display: flex;
    text-align:justify ;
    margin:0px 15px 20px 15px;
}


.final{
    display: flex;
    margin-left: 0px;
    background-color: rgb(219, 219, 219);
    padding: 10px 30px 10px 0px;
    justify-content: center;

}

.final address{
    margin-left: 200px;
    text-align: left;
    color: rgb(39, 39, 39);
}

address h2{
    margin: 20px;
    color: rgb(39, 39, 39);
}

#cop{
    background-color: rgb(29, 28, 28);
    color: #ccc;
    text-align: center;
}

#cop a{
    text-decoration: none;
    color: white;
}

#cop a:hov{
    text-decoration: underline;
}


.final address{
    text-align: left;
}

@media (max-width:880px){
    
    
    header{
        min-width: 100%;
        height: 130px;
        background-image: radial-gradient( rgba(255, 136, 0, 0.712), rgb(184, 3, 3));
        text-align: left;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }
    .logo img{
        width: 250px;
    }
    .preench{
      
        flex: 1; 
        margin: 0px;
      
        display: none;
    }
    .logo{
        display: flex;
        flex: 2;
        justify-content: start;
        margin-left: 0px;
        
    }

    .contato{
        flex: 1;
        text-align: right;
        color: white;
        font-size: 7px;
        margin: 10px;
    }
    .midias{
        
        flex:1;
        display: flex;
        justify-content: end;
        margin: 10px; 
    }
    .midias img{
        width: 20px;
        object-fit: contain;
    }

    nav{
        width: 100%;
        height: auto;
        background-color: #1c74b8d5;
        padding: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: none;
        
    }
    .linkmenu{
        text-decoration: none;
    }
    
    nav .menu{
        padding: 10px 28px 10px 25px;
        width: 100%;
        transition: 0.5s;
        font-weight: bold;
        color: white;
        border: 0.6px solid white;
    }
    
    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        background-color: white;
        margin: 0px auto 0px auto;
        overflow: hidden;
    }

    .menu:hover{
        background-color: rgba(255, 255, 255, 0.637);
        color: #1c74b8d5;
    }
    .pro{
        width: 100% ;
        border: none;
    }
    .pro h1{
        text-align: center;
        margin-top: 30px;
        color: var(--orange);
    }

    
    .prod{
        display: grid;
        flex-direction: column;
        max-width: calc(100% - 50px);
        min-width: 320px;
        height: auto;
        border-top: none;
        border-right: none;
        border-left: none ;
        overflow: hidden;
        justify-content: center;
        padding: 0px;
        grid-template-areas: 
            "img1 img2"
            "desc desc"
        ;
    }

    .img1 {
        width: 100%;
        margin: auto;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: img1;
    }

    .img2 {
        display: block;
        grid-area: img2;
    }

    .img1 img{
        width: 250px;
        height: 200px;
        border-right: 2px solid white;
        text-align: center;
        margin-left: 0px auto 0px auto ;
    }

    .prod .descr{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: desc;  
        
    }

    .descr .tt{
        display: flex;
        flex: 1;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        border-bottom: none;
        margin: none;
        
    }
    
    .descr .tt h1{
        margin: auto;
        font-weight: bold;
        display: flex;
        flex-flow: wrap;
        font-size: 20px;
        line-height: 20px;
        
    }

    .descr .dscd{
        grid-area: div;
        border-left: 1px solid var(--azul);
        display: flex;
        flex: 1;
        justify-content: center;
        margin: none;
    }

    .dscd p{
        text-align: left;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        color: gray;
        padding: 10px;
        
    }

    #somos .txt{
        max-width: 60vmax;
        display: flex;
        text-align:justify ;
        margin-bottom: 20px;
        margin: 0px 15px 20px 15px;
    }

    .final{
        display: flex;
        margin-left: 0px;
        background-color: rgb(219, 219, 219);
        padding: 10px 30px 10px 0px;
        justify-content: center;
    
    }
    
    .final address{
        margin-left: 50px;
        text-align: left;
        color: rgb(39, 39, 39);
    }
    
    address h2{
        margin: 20px;
        color: rgb(39, 39, 39);
    }
}

@media (max-width:500px){

    header{
        min-width: 100%;
        height: 110px;
        background-image: radial-gradient( rgba(255, 136, 0, 0.712), rgb(184, 3, 3));
        text-align: left;
        display: flex;
        
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }
    .logo img{
        width: 170px;
    }
    .preench{
      
        flex: 1; 
        margin: 0px;
      
        display: none;
    }
    .logo{
        display: flex;
        flex: 2;
        justify-content: start;
        margin-left: 0px;
        
    }

    .container-contato{
        align-items: end;
        justify-content: start;
        display: flex;
        flex-direction: column;
    }

    .contato{
        flex: 1;
        text-align: right;
        color: white;
        font-size: 7px;
        margin: 5px;
    }
    .midias{
        
        flex:1;
        display: flex;
        justify-content: end;
        margin: 5px; 
    }
    .midias img{
        width: 20px;
        object-fit: contain;
    }

    nav .menu{
        padding: 10px 10 10px 10px;
        width: 100%;
        transition: 0.5s;
        font-weight: bold;
        color: white;
        border-right: 0.6px solid white;
    }    

    .pro{
        min-width: 100% ;
        border: none;
    }

    .inicial{
        background-color:var(--orange) ;
        min-width: 100%;
        height: auto;
        color: white;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    #titleinicial h1{
        font-size: 17px;
        margin: 0px;
        text-align: center;
        font-weight: bold;
       color: white;
    }
    
    .inicial div{
        width: 100%;
        height: auto;
    }
    
    .inicial h2{
        font-size: 13px;
        margin: 5px;
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        background-color: white;
        margin: 0px auto 50px auto;
        padding-bottom: 30px;
        overflow: hidden;
    }   

    #linha{
        width: 100%;
        height: 2px;
        background-color: var(--orange);
        margin-top: 20px;
        display: block;
    }

    .prod{
        display: grid;
        flex-direction: column;
        max-width: calc(100% - 50px);
        min-width: 320px;
        height: 280px;
        border-top: none;
        border-right: none;
        border-left: none ;
        overflow: hidden;
        margin:20px auto 0px auto;
        justify-content: center;
        align-items: center;
        padding: 0px;
        
        grid-template-areas: 
            "img1 img2"
            "desc desc"
        ;
        display: 1px solid black;
    }

    .img1 {
        width: 100%;
        margin: auto;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: img1;
    }

    .img2 {
        display: block;
        grid-area: img2;
    }

    .img1 img{
        width: 200px;
        height: 180px;
        border-right: 2px solid white;
        text-align: center;
        margin-left: 0px auto 0px auto ;
    }

    .img2 img{
        width: 200px;
        height: 180px;
        border-right: 2px solid white;
        text-align: center;
        margin-left: 0px auto 0px auto ;
    }

    .prod .descr{
        width: 100%;
        flex: 1;
        margin: none;
        display: flex;
        justify-content: space-between;
        grid-area: desc;     
    }

     .descr .tt{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: start;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        overflow: hidden;
        padding: 0px;
        margin: none;
    }
    
    .descr .tt h1{
        margin: 5px;
        display: flex;
        padding: 0px;
        font-size: 12px; 
    }

    .descr .dscd{
        flex: 1;
        grid-area: div;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        margin-left: 0px;
        border-left: 1px solid var( --azul);
    }

    .dscd p{
        justify-content: start;
        display: flex;
        flex-wrap: wrap;
        color: gray;
        font-size: 12px;
        margin-left: 0px;
        word-wrap: break-word;

    }
    
    .entrega{
        background-color: var(--orange);
        min-width: 60%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .title{
        margin-top: 10px;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .title h2{
        text-align: center;
        color: white;
    }

    .tamb{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: none;
    }
    
    .tamb img{
        width: 150px;
    }

    .flut img:hover{
        width: 80px;
    }
    
    .flut img{
        width: 60px;
    }

    #somos{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .pro #somos h1{
        color: black;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    #somos .txt{
        max-width: 60vmax;
        display: flex;
        text-align:justify ;
        margin-bottom: 20px;
    }

    .final{
        display: flex;
        margin-left: 0px;
        background-color: rgb(219, 219, 219);
        padding: 10px 30px 10px 0px;
        justify-content: center;
    }
    
    .final address{
        margin-left: 20px;
        text-align: left;
        color: rgb(39, 39, 39);
        font-size: 15;
    }
    
    address h2{
        margin: 10px;
        color: rgb(39, 39, 39);
        font-size: 20px;
    }
    address p{
        font-size: 15px;
    }

}